{% extends 'user/user home.html'%}
{% block body%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
    

<tr>
<th>authority</th>
<th>requests</th>
<th>feedback</th>
<th>rating</th>
<th>date</th>
</tr>
<tr>
      {% for i in data %} 

<td>{{ i.authority }}</td>
<td>{{ i.requests}}</td>
<td >{{ i.feedback}}</td>  
<td>{{ i.rating }}</td>
<td>{{ i.date}}</td>
</tr>
{% end for %}


    </table>
    
</body>
{% endblock %}
